@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;

}


/* SECTION-1 */
.wrapper-1 {
   margin: 0px auto;
   padding: 0px 15px;
}

@media (max-width:1200px) {
   .wrapper-1 {
      padding: 0px;
   }
}


/* HEADER */
.header {
   width: 100%;
   display: flex;
   margin: 0, auto;
   height: 75px;
   background: #000000;
}

.img-logo {
   width: 183px;
   height: 73px;
   position: absolute;
   margin-top: 22px;
   width: 95px;
   height: 31px;
   margin-left: 115px;
   background: url(../css/assets/img/AXIT.svg) no-repeat;
   cursor: pointer;
}

.navi {
   margin-right: 60px;
   width: 100%
}


.list {
   display: flex;
   justify-content: flex-end;
   padding-top: 27px;
   padding: 25px 0px 20px 0px;
   align-items: center;
}

.list-item {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   margin-right: 60px;
   color: #FFFFFF;
   cursor: pointer;
   text-align: center;
   transition: 0.5s;
}

.list-item:hover {
   background-color: #514949;
   border-radius: 10px;
   transition: 0.3s;
}

@media (max-width:1200px) {
   .navi {
      margin-right: 0px;
   }

   .list-item {
      margin-right: 50px;
   }
}

/* MAIN */


.AXIT-info {
   height: 1024px;
   background: url(../css/assets/img/city.svg) no-repeat;
   /* background-size: 100%; */
   background-size: cover;
}

.overlay {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.AXIT-information {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding-top: 207px;
   margin-bottom: 183px;
   padding-left: 0px 15px;
}


.img-axit {
   width: 270px;
   height: 100px;
   margin-bottom: 50px;
}

@media (max-width:1200px) {
   .img-axit {
      width: 183px;
      height: 74px;
   }
}

@media (max-width:768px) {
   .img-axit {
      width: 130px;
      height: 56px;
   }
}

.modern-text {
   width: 670px;
   position: relative;
   content: "";
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   color: #FFFFFF;
   padding-bottom: 50px;
}

@media (max-width:1200px) {
   .modern-text {
      font-size: 36px;
      line-height: 42px;
   }
}

.modern-text::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #FFFFFF;
   bottom: 0;
   opacity: 0.6;
   background-color: #FFFFFF;
}

.lorem-ipsum {
   width: 270px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   margin-top: 40px;
   opacity: 0.8;
}

@media (max-width:1200px) {
   .lorem-ipsum {
      width: 183px;
      height: 32px;
      font-size: 14px;
      line-height: 16px;
   }
}

.button-2 {
   margin-top: 42px;
   width: 270px;
   height: 58px;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   background-color: transparent;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   cursor: pointer;
   transition: 0.3s;
}

.button-2:hover {
   background-color: white;
   color: rgb(56, 37, 37);
   box-shadow: inset 0 0 80px;
   transition: 0.5s;
}

.button-2:active {
   color: #bebfc6;
}

@media (max-width:1200px) {
   .button-2 {
      width: 183px;
      height: 50px;
      font-size: 18px;
      line-height: 25px;
   }
}

.info-right {
   display: flex;
   flex-direction: column;
   width: 450px;
   height: 470px;
   background-color: #FFFFFF;
   border-radius: 10px;
   margin-left: 20px;
   margin-bottom: 200px;
}

@media (max-width:1200px) {
   .info-right {
      width: 398px;
      height: 450px;
      margin-left: 36px;
   }
}


.Try-your-free {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-transform: uppercase;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 40px;
}

@media (max-width:1200px) {
   .Try-your-free {
      font-size: 18px;
      line-height: 25px;
   }
}



.free-red {
   color: rgba(236, 121, 121, 1);
}



input {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
   margin-bottom: 10px;
}

.size-form {
   display: flex;
   align-items: center;
   height: 50px;
   width: 370px;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   background-color: transparent;
   margin-left: 50px;
}

@media (max-width:1200px) {
   .size-form {
      width: 298px;
      height: 38px;
   }
}


.get-started {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: #FFFFFF;
   width: 450px;
   height: 60px;
   margin-top: 110px;
   background: #EC7979;
   border-radius: 0px 0px 10px 10px;
   border: none;
   cursor: pointer;
   transition: 0.3s;
}

@media (max-width:1200px) {
   .get-started {
      width: 398px;
   }
}

.get-started:hover {
   box-shadow: inset 0 0 30px;
   transition: 0.5s;
   color: white;
   background-color: rgb(180, 30, 30);
}


/* FOOTER */
.footer {
   width: 100%;
   display: flex;
   justify-content: start;
   height: 140px;
   background: #F8EFEF;
}

@media (max-width:1200px) {
   .footer {
      height: 105px;
   }
}

.social-media-text {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   margin-left: 170px;
}

@media (max-width:1200px) {
   .social-media-text {
      margin-left: 16px;
   }
}

.h2-social {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   height: 60px;
   width: 470px;
   padding-top: 20px;
   padding-bottom: 18px;
}

@media (max-width:1200px) {
   .h2-social {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 0px;
      height: 45px;
      width: 402px;
      margin-bottom: 13px;
   }

}

.h3-lorem {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   padding-top: 18px;
   height: 42px;
   width: 470px;
}

@media (max-width:1200px) {
   .h3-lorem {
      font-size: 14px;
      line-height: 16px;
      padding-top: 0px;
      height: 32px;
      width: 402px;
   }
}

.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   overflow: hidden;
}

@media (max-width:1200px) {}

.icon {
   display: inline-block;
   width: 70px;
   height: 70px;
   margin-right: 30px;
   white-space: nowrap;
}

@media (max-width:1200px) {
   .icon {
      width: 64px;
      height: 64px;
   }
}

.img {

   width: 100%;
   height: 100%;
}


/* SECTION-2 */
.wrapper-2 {
   max-width: 1200px;
   margin: 0px auto;
   margin-top: 50px;
   padding: 0px 15px;

}

.tab {
   display: flex;
}

.tab-item {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   width: 203px;
   height: 40px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   transition: 0.1s;
}

@media (max-width:1200px) {
   .tab-item {
      width: 172px;
      height: 40px;
   }
}

.tab-two:hover {
   box-shadow: inset 0 0 10px;
   border-radius: 15px;
   transition: 0.5s;
   color: white;
   background-color: rgb(158, 134, 134);
}


.tab-one {

   border: 1px solid #C6CBCD;
   border-radius: 5px 5px 0px 0px;
   border-bottom: white;
   margin-top: 10px;
}


.information {
   position: relative;
   content: "";
   display: flex;
   border: 1px solid #C6CBCD;

}

.information::after {

   position: absolute;
   content: "";
   width: 199px;

   border: 1px solid white;
   background-color: white;
   margin-left: 40px;
   margin-top: -2px;
}

.cart-title {
   margin-left: 100px;
}

.text-up {
   margin: 40px 30px 27px 0px;
   padding: 40px 0;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   width: 570px;
   height: 124px;
}

@media (max-width:1200px) {
   .text-up {
      font-size: 24px;
      line-height: 33px;
   }
}

.cart-2 {
   /* width: 570px;
   height: 210px; */
   margin-right: 30px;
}

.text-down {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
}

@media (max-width:1200px) {
   .text-down {
      font-size: 14px;
      line-height: 16px;
   }
}

.Download {
   color: #FFFFFF;
   background: #EC7979;
   border: none;
   width: 270px;
   height: 58px;
   margin-right: 330px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 27px;
}

.Download:hover {
   box-shadow: inset 0 0 30px;
   transition: 0.5s;
   color: white;
   background-color: rgb(180, 30, 30);
}

@media (max-width:1200px) {
   .Download {
      width: 231px;
      height: 58px;
   }
}


.cart-img {
   width: 470px;
   height: 500px;
}


@media (max-width:1200px) {
   .cart-img {
      width: 398px;
      height: 385px;
   }
}


@media (max-width:1200px) {
   .tab-img {
      width: 398px;
      height: 385px;
   }
}

/* SECTION-3 */
.wrapper-3 {
   max-width: 1200px;
   margin: 0px auto;
   padding: 0px 15px;
}

.cart-info-3 {
   display: flex;
   justify-content: center;

}

.cart {
   width: 370px;
   height: 383px;
   margin-top: 50px;
   text-align: center;
   padding: 0px 15px;
}

@media (max-width:1200px) {
   .cart {
      width: 318px;
      height: 310px;
   }
}

.textup {
   position: relative;
   content: "";
   padding-top: 20px;
   padding-bottom: 40px;
}



.text-up-2 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   color: #000000;
}

@media (max-width:1200px) {
   .text-up-2 {
      font-size: 24px;
      line-height: 28px;
   }
}

.textup::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #EC7979;
   bottom: 0px;
   left: calc(50% - 85px);
   background-color: #EC7979;
}

@media (max-width:1200px) {
   .textup::before {
      width: 140px;
      left: calc(50% - 70px);
   }
}

.textdown {
   margin: 30px 230px;
   margin-top: 30px;
}

.text-down-2 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
}

@media (max-width:1200px) {
   .text-down-2 {
      font-size: 14px;
      line-height: 16px;
   }
}

.cart_img {
   width: 92px;
   height: 92px;
   border-radius: 50%;
   border: 1px solid#EC7979;
   padding: 8px;
   margin: 0px auto;
}



@media (max-width:1200px) {
   .cart_img {
      width: 80px;
      height: 80px;
   }
}

@media (max-width:1200px) {
   .cart_img-1 {
      padding: 0px
   }
}

.cart_img-2 {
   width: 92px;
   height: 92px;
   border-radius: 50%;
   border: 1px solid#EC7979;
   padding: 21px 1px;
   margin: 0px auto;
}

.cart_tittle {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   text-transform: capitalize;
   margin-top: 50px;
}

@media (max-width:1200px) {
   .cart_tittle {
      font-size: 18px;
      line-height: 25px;
   }
}

.cart_description {
   margin-top: 30px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
}

@media (max-width:1200px) {
   .cart_description {
      font-size: 14px;
      line-height: 16px;
   }
}

/* SECTION-4 */
.wrapper-4 {
   max-width: 1510px;
   margin: 0px auto;
   background-color: #F5F5F5;
   padding: 0px 15px;
}

.texp-up {
   position: relative;
   content: "";
   margin: 0px auto;
   text-align: center;
   padding: 38px 0px;
}

.pricing {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   color: rgba(0, 0, 0, 1);
}

.texp-up::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #EC7979;
   bottom: 0px;
   left: calc(50% - 85px);
   background-color: #EC7979;
}

.text-down-4 {
   text-align: center;
   margin: 0px auto;
   color: #86878B;
   padding: 15px;
}

.Lorem-4 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   margin-top: 15px;
}

.pricing-cart-all {
   display: flex;
   justify-content: center;
   margin-top: 30px;


}

.pricing-cart {
   padding-bottom: 50px;
   width: 370px;
}

.pracing-list-iteam {
   font-weight: 400;
   font-size: 18px;
   line-height: 50px;
   text-align: center;
   color: #86878B;
   background: #FFFFFF;
   border: 2px solid #F5F5F5;
   text-transform: capitalize;
}

.pracing-list-iteam-one {
   padding: 5px 0px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #FFFFFF;
   background: #333333;
   border: 2px solid #FFFFFF;
   ;
}



.pracing-list-iteam-two {
   padding: 20px 0px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   background: #333333;
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
}

.pracing-list-iteam-three {
   padding: 8px 0px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   background: #333333;
   border: 2px solid #FFFFFF;
   color: #86878B;
}

.two-cart {
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.5));
}


/* SECTION-5 */
.wrapper-5 {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
   padding: 0px 15px;
}

.customer {
   padding: 0 15px;
   text-align: center;
   position: relative;
   padding-bottom: 50px;
}

.customer-text {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
}

@media (max-width:1200px) {
   .customer-text {
      font-size: 24px;
      line-height: 28px;
   }
}

.lorem-text {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}

@media (max-width:1200px) {
   .lorem-text {
      font-size: 14px;
      line-height: 16px;
   }
}

.customer::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #EC7979;
   background: #EC7979;
   bottom: 0;
   left: calc(50% - 85px);
}

@media (max-width:1200px) {
   .customer::before {
      width: 140px;
      left: calc(50% - 70px);
   }
}

.title-lorem {
   margin-top: 30px;
   margin-bottom: 83px;
   text-align: center;
}

.customer-info {
   display: flex;
   justify-content: center;
}



.cart-5 {
   display: flex;
   width: 33.3%;
   height: 336px;
   margin-top: 30px;
   text-align: center;
   /* margin-right: 30px; */
}

@media (max-width:1200px) {
   .cart-5 {
      width: 317px;
      height: 309px;
      margin-right: 20px;
   }
}


.cart-text {
   position: relative;
   display: flex;
   align-items: center;
   text-align: center;
   background: #E2E2E2;
   border-radius: 10px;
   width: 370px;
   height: 180px;
}

.cart-text::before {
   position: absolute;
   content: "";
   width: 0px;
   height: 20px;
   left: 20%;
   top: 100%;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 25px solid #E2E2E2;
}

.style-text {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

@media (max-width:1200px) {
   .style-text {
      font-size: 14px;
      line-height: 16px;
   }
}

.cart-name {
   align-self: center;
   display: flex;
   flex-direction: column;
   align-items: flex-end;

}

@media (max-width:1200px) {}

.cart-profile {
   display: flex;
   flex-direction: column;
   align-items: revert;
   width: 370px;
   height: 200px;
   position: absolute;
   content: "";
}

@media (max-width:1200px) {
   .cart-profile {
      padding-left: 50px;
   }
}

.cart-profile-img-Davis {
   position: absolute;
   content: "";
   margin-top: 66px;
   width: 70px;
   height: 70px;
   background: url(../css/assets/img/Davis.svg) no-repeat center/cover;
   border-radius: 50%;
}

.cart-profile-name {
   margin-top: 85px;
   display: flex;
   align-self: center;
   margin-top: 85px;
}


.cart-profile-img-Jaydon {
   position: absolute;
   content: "";
   margin-top: 66px;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background: url(../css/assets/img/Jaydon.svg) no-repeat center/cover;
}

.cart-profile-img-Cooper {
   position: absolute;
   content: "";
   margin-top: 66px;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background: url(../css/assets/img/Cooper.svg) no-repeat center/cover;
}

@media (max-width:1200px) {
   .photo-actor {
      width: 60x;
      height: 60px;
   }
}

.cart-profile-name {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #000000;
}

@media (max-width:1200px) {
   .cart-profile-name {
      font-size: 18px;
      line-height: 25px;
   }
}

.name-1 {
   margin-left: 40px;
}

.manager {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   margin-left: 90px;
}

.man-2 {
   margin-left: 100px;
}

@media (max-width:1200px) {
   .manager {
      font-size: 14px;
      line-height: 16px;
   }
}

/* SECTION-6 */
.wrapper-6 {
   margin: 0 auto;
   margin-top: 50px;
   padding: 0px 15px;
}


.stylish {
   position: relative;
   width: 100%;
   height: 442px;
   background: url(../css/assets/img/image.svg) no-repeat;
   background-size: cover;
}


.design {
   position: relative;
   content: "";
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-top: 90px;
   padding-bottom: 70px;
}

.overlay {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.design::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #FFFFFF;
   opacity: 0.5;
   bottom: 0;
   left: calc(50% - 85px);
   background-color: #FFFFFF
}

@media (max-width:1200px) {
   .design {
      font-size: 24px;
      line-height: 28px;
   }

   .design::before {
      width: 140px;
      left: calc(50% - 70px);
   }
}

.Use-sections {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   padding-top: 40px;
   color: #FFFFFF;
   opacity: 0.7;
}

@media (max-width:1200px) {
   .Use-sections {
      font-size: 14px;
      line-height: 16px;
   }
}

.push {
   display: flex;
   justify-content: center;
   padding-top: 73px;
   padding-bottom: 50px;
}

.Download-2 {

   width: 370px;
   height: 58px;
   background-color: transparent;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   transition: 0.5s;
   cursor: pointer;
}

.Download-2:hover {
   background-color: white;
   color: black;
   box-shadow: inset 0 0 80px;
}

.Download-2-text {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
}

@media (max-width:1200px) {
   .Download-2 {
      width: 318px;
      height: 58px;
   }
}


/* MAIN */

.main-contact-us {
   display: flex;
   flex-direction: column;
   height: 700px;
   background: #FFFFFF;
}

.text-contact-us {
   position: relative;
   content: "";
   display: flex;
   justify-content: center;
   height: 150px;

}

.text-contact-us::before {
   position: absolute;
   content: "";
   width: 170px;
   border: 1px solid #EC7979;
   bottom: 0;
   left: calc(50% - 85px);
   opacity: 0.5;
   background-color: #EC7979;
}

.text-contact {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
   padding-top: 50px;
}

@media (max-width:1200px) {
   .text-contact {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
   }

   .text-contact-us::before {
      width: 140px;
      left: calc(50% - 70px);
   }
}

.Lorem-contact {
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

.Lorem-contact-text {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}

@media (max-width:1200px) {
   .Lorem-contact-text {
      font-size: 14px;
      line-height: 16px;
   }
}

.info-clietn {
   align-self: center;
}

.form-6 {
   display: flex;
   width: 50%;
   height: 320px;
}

.group-left-6 {
   margin-left: 170px;
   width: 570px;
   height: 38px;
}

@media (max-width:1200px) {
   .group-left-6 {
      width: 486px;
      height: 38px;
      margin-left: 0px;
   }
}

.group-right-6 {
   padding-left: 20px;

}

.form-group-6 {
   padding-top: 70px;

}

.some-input {
   border: none;
   border-bottom: 1px solid #BDBDBD;
   background-color: transparent;
   outline: none;
   padding-bottom: 10px;
}

label {
   margin-right: 15px;
}

input {
   font-size: 20px;
   width: 400px;
}


input::placeholder {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
   ;

}

.message {
   padding-bottom: 248px;
   display: inline-block;
}

.btn {
   display: flex;
   justify-content: center;
   padding: 50px 0px;
}

.Send-Message {
   width: 370px;
   height: 58px;
   border: 1px solid #EC7979;
   background-color: #EC7979;
   color: #FFFFFF;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   transition: 0.3s;
   cursor: pointer;
}

@media (max-width:1200px) {
   .Send-Message {
      width: 318px;
      height: 58px;
   }
}

.Send-Message:hover {
   background-color: red;
   box-shadow: inset 0 0 30px;
   transition: 0.9s;
}

.Send-Message:active {
   color: brown;
}

/* FOOTER */


.footer-end {
   height: 164px;
   background-color: black;
}

.tem {
   display: flex;
   justify-content: center;
}

.icons {
   margin-right: 33px;
   margin-top: 20px;
   width: 53px;
   height: 53px;
   text-align: center;
   color: #FFFFFF;
}

@media (max-width:1200px) {
   .icons {
      width: 45px;
      height: 45px;
      margin-right: 27px;
   }
}

.Axure {
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   margin-top: 50px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

@media (max-width:1200px) {
   .Axure {
      font-size: 14px;
      line-height: 16px;
   }
}